* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-height: 5rem;
  --nav-primary-color: #131921;
  --nav-secondary-color: #232f3e;
  --modal-background-color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
  --font-primary-color: #0f1111;
}

body {
  background: white;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  /* 1rem = 16px */
  overflow: hidden;
  overflow-y: scroll;
}

nav {}

nav p {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}

nav h4 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

.primary-nav {
  display: grid;
  grid-template-columns: 100fr 100fr 300fr 100fr 100fr 100fr 100fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: var(--nav-height);
  color: white;
  background: var(--nav-primary-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5rem;
}

.primary-nav>div {
  cursor: pointer;
}

.nav-icon {}

.nav-arrow {
  margin: 3px 0 0 5px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #606060;
  border-top-color: #a7acb2;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.search-bar {
  display: Flex;
  height: 40px;
  border-radius: 4px;
}

.search-button {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
  width: 45px;
  height: 40px;
  font-size: 1.2rem;
}

.language:hover .language-switch {
  display: block;
}

.language-switch {
  display: none;
  position: absolute;
  background-color: var(--modal-background-color);
  color: var(--font-primary-color);
  padding: 14px;
}

.language-select {}

.language-switch input,
.language-switch p {
  margin-bottom: 7px;
  font-size: 13px;
}

.nav-account:hover .dropdown-modal {
  display: block;
}

.dropdown-modal {
  display: none;
  position: absolute;
  margin: -3px 0 0 -2px;
  padding-bottom: 7px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible !important;
  background: #fff;
  border: 1px solid #bbb;
  padding: 14px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  font-size: 13px;
  font-family: inherit;
  line-height: normal;
  color: var(--font-primary-color);
}

.sign-in-button,
.sign-up-button,
.log-in-button,
.forgot-password-button {
  height: 33px;
  margin: 0 0 10px 0;
  width: 100%;
  cursor: pointer;
  outline: 0;
  border: 1px solid;
  border-color: #c89411 #b0820f #99710d;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  line-height: 31px;
  vertical-align: middle;
  color: #111;
  font-family: inherit;
  text-decoration: none;
  line-height: 30px;
  font-size: 13px;
  background: linear-gradient(to bottom, #f8e3ad, #eeba37);
  background: -moz-linear-gradient(top, #f8e3ad, #eeba37);
  background: -webkit-linear-gradient(top, #f8e3ad, #eeba37);
}

.login-content {
  display: flex;
}

.your-lists {
  margin-right: 20px;
}

.sign-in-modal {}

.modal-arrow {
  border-style: solid;
  border-width: 9px;
  border-color: transparent;
  border-top-width: 0;
  border-bottom: 9px solid #ccc;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -9px;
}

.secondary-nav {}

.search-bar input {
  width: 100%;
  height: 2.5rem;
}

div#main-container {
  display: grid;
  grid-template-columns: 100fr 300fr;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
}

div#main-container>section {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
}

div#main-container>main {
  background: white;
  padding: 1rem;
}

div#main-container>main>div.item {
  display: grid;
  grid-template-columns: 100fr 400fr;
  gap: 1rem;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
}

div#main-container>main>div.item img {
  width: 15rem;
}

.sign-up-main,
.log-in-main,
.forgot-password-main {
  padding: 14px 18px;
}

.form-logo-container {
  height: 40px;
}

.form-logo-container img {
  height: 100%;
  width: 100%;
}

.sign-up-container,
.log-in-container,
.forgot-password-container {
  width: 350px;
  margin: 14px auto 0;
  border: 1px #ddd solid;
  padding: 14px 18px;
}

.sign-up-form,
.log-in-form,
.forgot-password-form {
  border-radius: 4px;
  position: relative;
}

.sign-up-form h2,
.log-in-form h2,
.forgot-password-form h2 {
  margin-bottom: 14px;
}

.sign-up-form input,
.log-in-form input,
.forgot-password-form input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 14px;
}

.sign-up-container p,
.log-in-container p,
.forgot-password-container p {
  font-size: 13px;
  margin-top: 20px;
}